<div>
    <div class="product-grid">
      <mat-card *ngFor="let product of products" class="product-card" [routerLink]="'/product/' + product.id">
          <mat-card-header>
            <mat-card-title>{{ product.name }}</mat-card-title>
          </mat-card-header>
            <img mat-card-image src="{{ product.image }}" alt="{{ product.name }}">
          <mat-card-content>
            <p>Price: ${{ product.price }}</p>
          </mat-card-content>
        </mat-card>
    </div>
  </div>
  

