.form-container {
    display: flex;
    position: absolute;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    max-width: 340px;
    height: 340px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.data-entry {
    padding: 15px;
}

input {
    width: 300px;
    display: flex;
}

.form-group {
    padding-top: 8px;
}

button[type="submit"] {
    margin-top: 20px;
    font-size: large;
    display: flex;
}

.success-message {
    text-align: center;
    padding-top: 20px;
}