<app-carousel></app-carousel>
<section id="bio">
    <p>
        Kuriosity Clothing & Co. was established in 2014. What began as a film production company, quickly shifted into a movement. CEO Kairo started Kuriosity with the idea of spreading spiritual awareness through poetry videos and short films on YouTube. The digital art and fashion came some years later as another avenue to spread awareness, while allowing others to wear and express the message. Kuriosity has it sights set on returning to film to further encourage spiritual awareness across the world one step at a time. 
    </p>
</section>
